go 1.21.3
use ./part_2/1_packets_and_modules/1_examples_match
use ./part_2/1_packets_and_modules/ex1_less
use ./part_2/1_packets_and_modules/ex2_packet_with_packets
use ./part_2/1_packets_and_modules/ex3_packet_with_packets
use ./part_2/1_packets_and_modules/ex4_wordcount/wordcount
use ./part_2/2_tests/ex1_sum
use ./part_2/2_tests/ex2_table_tests_sum
use ./part_2/2_tests/ex3_weather_tests
use ./part_2/2_tests/ex4_another_sum
use ./part_2/2_tests/example_coverage
use ./part_2/3_benchmarks/1_example
use ./part_2/3_benchmarks/2_example_set
use ./part_2/3_benchmarks/ex1_fast_set_on_map
use ./part_2/3_benchmarks/3_example_memory_bench
use ./part_2/3_benchmarks/ex3_word_index
use ./part_2/4_profiling/1_examples
use ./part_2/4_profiling/ex1
use ./part_3/1_gorutines/ex1_parallel_counter
use ./part_3/1_gorutines/ex2_channels
use ./part_3/1_gorutines/ex3_channels_generator
use ./part_3/1_gorutines/ex4_channels_generator
use ./part_3/1_gorutines/ex5_channels_generator
use ./part_3/2_channels_1/ex1
use ./part_3/2_channels_1/ex2
use ./part_3/3_channels_2/ex1_channel_for_waiting
use ./part_3/3_channels_2/ex2_gather
use ./part_3/3_channels_2/ex3_channel_pool
use ./part_3/4_composition/example_1_channel_of_cancel
use ./part_3/4_composition/ex1_channel_of_cancel
use ./part_3/4_composition/ex2_merge_channels
use ./part_3/4_composition/ex3_pipeline
use ./part_3/5_time/timeout_example
use ./part_3/5_time/ex1_queue_with_block
use ./part_3/5_time/ex2_after_custom_realization
use ./part_3/5_time/ex3_delay
use ./part_3/5_time/ex4_schedule_ticker
use ./part_3/5_time/ex5_rate_limiter
use ./part_3/6_context/example_cancel_func_by_timeout_with_channels
use ./part_3/6_context/example_cancel_func_by_timeout_with_context
use ./part_3/6_context/ex1_generate_with_context
use ./part_3/6_context/example_context_WithTimeout