go 1.21.3
use ./part_2_clean_code/1_packets_and_modules/1_examples_match
use ./part_2_clean_code/1_packets_and_modules/ex1_less
use ./part_2_clean_code/1_packets_and_modules/ex2_packet_with_packets
use ./part_2_clean_code/1_packets_and_modules/ex3_packet_with_packets
use ./part_2_clean_code/1_packets_and_modules/ex4_wordcount/wordcount
use ./part_2_clean_code/2_tests/ex1_sum
use ./part_2_clean_code/2_tests/ex2_table_tests_sum
use ./part_2_clean_code/2_tests/ex3_weather_tests
use ./part_2_clean_code/2_tests/ex4_another_sum
use ./part_2_clean_code/2_tests/example_coverage
use ./part_2_clean_code/3_benchmarks/1_example
use ./part_2_clean_code/3_benchmarks/2_example_set
use ./part_2_clean_code/3_benchmarks/ex1_fast_set_on_map
use ./part_2_clean_code/3_benchmarks/3_example_memory_bench
use ./part_2_clean_code/3_benchmarks/ex3_word_index
use ./part_2_clean_code/3_benchmarks/4_what_is_faster_append_or_by_index
use ./part_2_clean_code/4_profiling/1_examples
use ./part_2_clean_code/4_profiling/ex1
use ./part_3_multitask/1_gorutines/ex1_parallel_counter
use ./part_3_multitask/1_gorutines/ex2_channels
use ./part_3_multitask/1_gorutines/ex3_channels_generator
use ./part_3_multitask/1_gorutines/ex4_channels_generator
use ./part_3_multitask/1_gorutines/ex5_channels_generator
use ./part_3_multitask/2_channels_1/ex1
use ./part_3_multitask/2_channels_1/ex2
use ./part_3_multitask/3_channels_2/ex1_channel_for_waiting
use ./part_3_multitask/3_channels_2/ex2_gather
use ./part_3_multitask/3_channels_2/ex3_channel_pool
use ./part_3_multitask/4_composition/example_1_channel_of_cancel
use ./part_3_multitask/4_composition/ex1_channel_of_cancel
use ./part_3_multitask/4_composition/ex2_merge_channels
use ./part_3_multitask/4_composition/ex3_pipeline
use ./part_3_multitask/5_time/timeout_example
use ./part_3_multitask/5_time/ex1_queue_with_block
use ./part_3_multitask/5_time/ex2_after_custom_realization
use ./part_3_multitask/5_time/ex3_delay
use ./part_3_multitask/5_time/ex4_schedule_ticker
use ./part_3_multitask/5_time/ex5_rate_limiter
use ./part_3_multitask/6_context/example_cancel_func_by_timeout_with_channels
use ./part_3_multitask/6_context/example_cancel_func_by_timeout_with_context
use ./part_3_multitask/6_context/ex1_generate_with_context
use ./part_3_multitask/6_context/example_context_WithTimeout
use ./part_3_multitask/6_context/ex2_context_pipeline
use ./part_3_multitask/6_context/ex3_cleanup_and_errors
use ./part_3_multitask/7_race_conditions/exa_1_race_condition
use ./part_3_multitask/7_race_conditions/ex1_safe_counter
use ./part_3_multitask/7_race_conditions/ex2_save_counter_with_rw_mutex
use ./part_3_multitask/7_race_conditions/ex3_atomic_ints_without_mutex
use ./part_4_stdlib/2_text/ex1_strings_safe_header
use ./part_4_stdlib/2_text/examples
use ./part_4_stdlib/2_text/ex2_calc_distance
use ./part_4_stdlib/2_text/ex3_prettify_with_string_builder
use ./part_4_stdlib/2_text/ex4_regex
use ./part_4_stdlib/2_text/ex5_templates
use ./part_4_stdlib/3_datetime/ex1_is_leap_year
use ./part_4_stdlib/3_datetime/ex2_timeofday
use ./part_4_stdlib/3_datetime/ex3_parse_page_with_dates
use ./part_4_stdlib/3_datetime/ex4_as_legacy_date
use ./part_4_stdlib/4_input_output/ex1_readlines
use ./part_4_stdlib/4_input_output/ex3_title_case
use ./part_4_stdlib/4_input_output/ex4_random_reader
use ./part_4_stdlib/4_input_output/ex5_abysswriter
use ./part_4_stdlib/4_input_output/ex6_filter_tokens
use ./part_4_stdlib/4_input_output/ex7_reptiloids
use ./part_4_stdlib/5_json_xml_csv/ex1_marshal_json
use ./part_4_stdlib/5_json_xml_csv/ex2_unmarshal
use ./part_4_stdlib/5_json_xml_csv/ex3_json_stream
use ./part_4_stdlib/5_json_xml_csv/ex4_xml_to_csv
use ./part_4_stdlib/5_json_xml_csv/ex4_xml_to_csv_whole
use ./part_4_stdlib/6_http/ex1_http_get
use ./part_4_stdlib/6_http/ex2_http_helper
use ./part_4_stdlib/6_http/ex3_fake_server
use ./part_4_stdlib/7_sql/ex1_map_in_db
use ./part_4_stdlib/7_sql/ex2_map_in_db_with_stmt
use ./part_4_stdlib/7_sql/ex3_map_in_db_with_stmt_and_timeouts
use ./part_1_base_constructions/8_generics/ex1_produce
use ./part_1_base_constructions/9_everything/ex1_battle
use ./part_1_base_constructions/8_generics/ex2_zipmap
use ./part_1_base_constructions/8_generics/ex3_add
use ./part_1_base_constructions/8_generics/ex4_generic_map
use ./part_5_tests/smb
